.contacto{
    padding: 30px;
    h2{
        text-align: center;
        padding: 50px;    
    }
    div {
        background-color: #FFC82C;
        padding: 15px;
    }
    a{
        text-decoration: none;
        color: black;
        text-align: center;
        gap: 50px;
    }
    
}

.caja1{
    padding: 30px;
    text-align: center;
    
}
.caja2{
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}
.caja3{
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}
.pagar{
    height: 50vh;
    width: 50vh;
    margin: 5%;
    background-color: #FFC82C;
    align-items : center ;
    justify-content: center;
    padding: 30px
    
}
.boton{
    align-items: center;
    text-align: center;
    
}