.hero{
    background-image: linear-gradient(45deg,#000000be,#0000009f),url(../fotos/hero.png);
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center, center;
    @include flex(column,flex-end, center,13px );
    h1{
        color: $font-color;
        text-decoration:underline;
        font-size: 2rem;
        padding-right: 30px; 
        
    }
}


//combos 


.container{
    @include flex(column, center , center ,15px);
    min-height:100vh;
    padding: 4rem 0;
    
}
.img-box{
    img {
        display: block;
        @include imagenes ( 100%, 36rem,cover);
    }
} 
.card-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap:2rem;
    text-align: center;
    width: 90%;
    margin: auto;

}
.card{
    display: block;
    overflow: hidden;
    border-radius: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    cursor:pointer;
    transition: 0.2s;
    position: relative;

}
.card-content{
    position: absolute;
    background-color: rgba(0 0 0 /50%);
    color: $font-color;
    bottom: 0;
    width: 100%;
    height: 20%;
    padding: 2.2rem;
    overflow: hidden;
    transition: 0.7s;
    &:hover{
        height: 70%;
        transition: 1.7s;
    }
    h2{
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
        text-decoration: underline;
        gap:5px;
    }
    p{
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        padding: 1.2rem;
    }
}

@media (max-width:1024px) {
    .card-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:750px){
        .card-grid{
            grid-template-columns: repeat(1,1fr);
        }
    }
.contenedor-pagos{
    padding: 2rem;
    @include flex(column, center, center,10px);
    
    h2{
        font-size: 2rem;
        font-weight: 900;
        font-style:unset;
        text-decoration: underline ;
    }
    .pagos{ 
    background-color: $main-color;
    padding: 2rem;
    border: solid black;
    gap: 2rem ;
   }  }