header {
  background-color: red;
  min-height: 80px;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  img {
    height: 50px;
    margin: 10px;
    padding-left: 30px;
  }
}
.lista {
  ul {
    text-decoration: none;
    list-style: none;

    a {
      text-decoration: none;
      color: #000;
      padding: 20px;
    }
  }
}
