header {
  background-color: rgb(153, 0, 0);
  min-height: 50px;
  align-items: center;
  padding: 10px;
  top: 0;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  img {
    height: 70px;
    margin: 10px;
    padding-left: 30px;
  }
}
.lista {
  ul {
    text-decoration: none;
    list-style: none;

    a {
      
      text-decoration: none;
      color: #fde3a7;
      font-family: "Sen", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 20px;
      font-weight: bolder;
      border-radius: 13px;
      padding: 20px;
      &:hover{
        background-color: rgba(235, 50, 50, 0.877);
        color :#fde3a7;
        transform: scale(0.9);
      }
    }
  }
  .nav-linkped{
    display: flex;  
    width:100%;
    background-color: $button-color; 
    border-radius: 13px;

    &:hover{
      background-color: rgba(243, 222, 37, 0.877);
      transform: scale(0.9);
    } 
  }
}
