header {
  background-color: rgb(153, 0, 0);
  min-height: 50px;
  align-items: center;
  padding: 10px;
  top: 0;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  img {
    height: 50px;
    margin: 10px;
    padding-left: 30px;
  }
}
.lista {
  ul {
    text-decoration: none;
    list-style: none;

    a {
      
      text-decoration: none;
      color: #000;
      padding: 20px;
    }
    
  }
  .nav-linkped{
    display: flex;  
    gap: 5px;
    background-color: yellow; 
    border-radius: 13px;

    &:hover{
      background-color: rgba(243, 222, 37, 0.877);
      transform: scale(1.2);
    } 
  }
}
