//colores 

$main-color : rgb(153, 0, 0);
$second-color: #f1d693;
$button-color:#f9b42d;
$font-color: rgba(253, 253, 211, 0.811);
$bg-color:rgba(250, 242, 207, 0.799);

$font-principal: 'Sen', sans-serif;